﻿@model CreateEmployeeViewModel
@{
	ViewBag.Title = "Редактирование работника";
}
<h1 class="page_title">@ViewBag.Title</h1>
<form id="employeeForm" autocomplete="off">
	<input name="id" style="display:none" value="@Model.Employee.Id" />
	<div class="form-group">
		<input type="text" data-names="@ViewBag.Autocomplete" autocomplete="off" name="firstname" value="@Model.Employee.FirstName" required class="form-control" id="firstNameEmployeeForm" placeholder="Имя">
	</div>
	<div class="form-group">
		<input type="text" name="lastname" value="@Model.Employee.LastName" required class="form-control" id="lastNameEmployeeForm" placeholder="Фамилия">
	</div>
	<div class="form-group">
		<input type="number" name="age" min="12" max="110" value="@Model.Employee.Age" required class="form-control" id="ageEmployeeForm" placeholder="Возраст">
	</div>

	<div class="form-group">
		<label for="isMale">Пол:</label>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" @(Model.Employee.IsMale ? "checked='true'" : "") name="isMale" id="isMale" value="true" checked>
			<label class="form-check-label" for="isMale">
				Мужчина
			</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" @(Model.Employee.IsMale ? "" : "checked='true'") name="isMale" id="isFemale" value="false">
			<label class="form-check-label" for="isFemale">
				Женщина
			</label>
		</div>
	</div>

	<div class="form-group">
		<label for="departmentSelect" class="col-form-label">Отдел:</label>
		<select name="departmentId" value="@Model.Employee.DepartmentId" class="form-control" id="departmentSelect">
			<option value="null">Без отдела</option>
			@foreach (var department in Model.Departments)
			{
				if (Model.Employee.DepartmentId == department.Id)
				{
					<option selected value="@department.Id">@department.Title</option>
				}
				else
				{
					<option value="@department.Id">@department.Title</option>
				}
			}
		</select>
	</div>
	<div class="form-group">
		<label for="programmingLanguageSelect" class="col-form-label">Язык программирования:</label>
		<select name="programmingLanguageId" class="form-control" id="programmingLanguageSelect">
			<option value="null">Нет</option>
			@foreach (var language in Model.ProgrammingLanguages)
			{
				if (Model.Employee.ProgrammingLanguageId == language.Id)
				{
					<option selected value="@language.Id">@language.Title</option>
				}
				else
				{
					<option value="@language.Id">@language.Title</option>
				}
			}
		</select>
	</div>
	<div id="submitEmployee" class="btn btn-primary">Сохранить</div>
	<a href="/" class="btn btn-danger">Отмена</a>
</form>