﻿@model IEnumerable<Employee>
@{
	ViewBag.Title = "Список работников";
}
<div class="container">
	<h1 class="page_title">@ViewBag.Title</h1>
	<div class="row">
		<a href="/employee/add">Добавить</a>

	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Имя</th>
					<th scope="col">Фамилия</th>
					<th scope="col">Возраст</th>
					<th scope="col">Отдел</th>
					<th scope="col">Язык</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var employee in Model)
				{
					<tr>
						<th scope="col">@employee.FirstName</th>
						<th scope="col">@employee.LastName</th>
						<th scope="col">@employee.Age</th>
						<th scope="col">@(employee.Department?.Title ?? "Не присвоен")</th>
						<th scope="col">@(employee.ProgrammingLanguage?.Title ?? "Нет")</th>
						<th scope="col">
							<a href="/employee/edit/@employee.Id">Изменить</a>
							<a class="deleteEmployee" data-id="@employee.Id">Удалить</a>
						</th>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
