﻿@model Department
<form method="post"  action="/department/save" autocomplete="off">
	<input name="id" style="display:none" value="@Model.Id" />
	<div class="form-group">
		<input type="text" autocomplete="off" name="title" value="@Model.Title" required class="form-control" id="departmentTitle" placeholder="Название отдела">
	</div>
	<div class="form-group">
		<input type="number" autocomplete="off" name="floor" value="@Model.Floor" required class="form-control" id="departmentFloor" placeholder="Этаж отдела">
	</div>
	<button type="submit" class="btn btn-primary">Сохранить</button>
</form>