﻿@model IEnumerable<Department>
@{
	ViewBag.Title = "Список отделов";
}
<div class="container">
	<h1 class="page_title">@ViewBag.Title</h1>
	<div class="row">
		<a href="/department/editorcreate">Добавить</a>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Название</th>
					<th scope="col">Этаж</th>
					<th scope="col">Количество работников</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var dep in Model)
				{
				<tr>
					<th scope="col">@dep.Title</th>
					<th scope="col">@dep.Floor</th>
					<th scope="col">@dep.Employees.Count()</th>
					<th scope="col">
						<a href="/department/editorcreate/@dep.Id">Изменить</a>
						<a href="/department/delete/@dep.Id">Удалить</a>
					</th>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>
