﻿@model ProgrammingLanguage
<form method="post" action="/language/save" autocomplete="off">
	<input name="id" style="display:none" value="@Model.Id" />
	<div class="form-group">
		<input type="text" autocomplete="off" name="title" value="@Model.Title" required class="form-control" id="languageTitle" placeholder="Название языка">
	</div>
	<button type="submit" class="btn btn-primary">Сохранить</button>
</form>