﻿@model IEnumerable<ProgrammingLanguage>
@{
	ViewBag.Title = "Список ЯП";
}
<div class="container">
	<h1 class="page_title">@ViewBag.Title</h1>
	<div class="row">
		<a href="/language/editorcreate">Добавить</a>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Название</th>
					<th scope="col">Количество работников</th>		
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var lang in Model)
				{
				<tr>
					<th scope="col">@lang.Title</th>
					<th scope="col">@lang.Employees.Count()</th>
					<th scope="col">
						<a href="/language/editorcreate/@lang.Id">Изменить</a>
						<a href="/language/delete/@lang.Id">Удалить</a>
					</th>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>
