﻿body {
	padding-top: 50px;
	padding-bottom: 20px;
}
.page_title{
	text-align:center;
}
.ui-widget.ui-widget-content.ui-autocomplete{
	background-color:#fff;
	border: 1px solid #888;
}
a{
	cursor:pointer;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-top: 50px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}
