﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ArtsofteApp</title>

	<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<link href="~/js/jquery-ui.min.css" rel="stylesheet" />
	<script src="~/js/jquery-ui.min.js"></script>
	<script src="~/js/site.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header" style="padding:10px;" >
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/logo.svg" src="/images/logo.svg" width="95" height="31">
			</div>

			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/employee">Работники</a></li>
					<li><a href="/department">Отделы</a></li>
					<li><a href="/language">Языки программирования</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container body-content">
		@RenderBody()
	</div>
	<hr />
	<footer>
		<div class="container">&copy; 2019 - ArtsofteApp</div>
	</footer>
	@RenderSection("Scripts", required: false)
</body>
</html>
